
body {
	font-size: .875rem;
	font-weight: 400;
    overflow: hidden;
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    span {
        padding: 5px 0;
        font-weight: 600;
        color: $gray-500;
    }

    input {
        padding: 6px 6px 6px 10px;
        border: 1.5px solid $zinc-400;
        width: 100%;
        border-radius: 8px;

    }
}

.table-primary {
    box-shadow:  0px 16px 72px 0px rgba(71, 79, 98, 0.07);
    border-radius: 8px;
    background: $neutral-0;
}